body
  h1 Post your message
    form(method="POST", action="/new")
      label(for="user") User
      input(type="text" name="user")
      label(for="text") Message
      input(type="text" name="text")
      input(type="submit", value="Submit message", formmethod="post")
